<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                <!-- Имя автора -->
                {{ user_r.get_full_name }}
            </div>
            <div class="h3 text-muted">
                <!-- username автора -->
                {{ user_r.username }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Подписчиков: {{ user_r.following.all.count }} <br/>
                    Подписан: {{ user_r.follower.all.count }}
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    <!-- Количество записей -->
                    Записей: {{ user_r.posts.all.count }}
                </div>
            </li>
            {% if flag_user %}
            <li class="list-group-item">
                {% if follow %}
                        <a class="btn btn-lg btn-light" href="{% url 'profile_unfollow' user_r.username %}" role="button">
                            Отписаться
                        </a>
                        {% else %}
                        <a class="btn btn-lg btn-primary" href="{% url 'profile_follow' user_r.username %}" role="button">
                            Подписаться
                        </a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
</div>
